---
import { Picture } from "astro:assets";

interface Props {
	title: string;
	overview: string;
	type: string;
	id: string;
	cover: ImageMetadata;
}

const { title, overview, cover, type, id } = Astro.props;
---

<section>
	<Picture src={cover} formats={["jpg", "webp"]} alt={title} class="img" />
</section>

<style>
	img {
		width: 100%;
		height: auto;
		padding-top: 10rem;
	}
</style>
