---
import TwoCols from '@layouts/TwoCols.astro';
---

<div class="content">
  <TwoCols title="Desc." id="description" num="03">
    <div class="rich-text">
      <slot />
    </div>
  </TwoCols>
</div>

<style is:global>
  .rich-text p {
    font-size: var(--text-base);
		line-height: 175%;
		margin-bottom: 1rem;
  }
  .rich-text p:first-child img {
    margin-top: 0;
  }
  .rich-text img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }
</style>