---
import Button from '@components/common/Button.astro';

interface Props {
	previousUrl: string;
  previousTitle: string;
  nextUrl: string;
  nextTitle: string;
}

const { previousUrl, previousTitle, nextUrl, nextTitle } = Astro.props;
---

<div class="navigation">
  <div class="prev">
    <Button
      href={previousUrl}
      textTop="Précédent"
      textBottom={previousTitle}
      icon="arrow-left"
    />
  </div>
  <div class="next">
    <Button
      href={nextUrl}
      textTop="Suivant"
      textBottom={nextTitle}
      icon="arrow-right"
    />
  </div>
</div>

<style>
  .navigation {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0.25rem;
  }
  .prev {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .next {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  @media screen and (max-width: 960px) {
    .navigation {
      grid-template-columns: repeat(6, 1fr);
    }
    .prev {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .next {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .navigation {
      row-gap: 1rem;
      column-gap: 0;
    }
    .prev {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    .next {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 1;
    }
  }
</style>