---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Orama Production | Conditions générales de vente" description="" theme="light">
	<article>
		<h1>Conditions générales de vente</h1>

		<h2>1. Présentation</h2>
		<p>
			Les présentes conditions générales de vente (les « Conditions Générales ») régissent les relations entre la SRL
			ORAMA dont le siège est sis Rue de la Natation n°18, 1050 Ixet enregistrée auprès de la Banque-Carrefour des
			Entreprises sous le numéro [numéro d’entreprise] (la « Société »), et le client (le « Client ») dans le cadre des
			missions confiées par le Client à la Société (le(les) « Service(s) »).
		</p>
		<p>
			La Société et le Client sont désignés individuellement comme une « Partie » et collectivement comme les « Parties
			».
		</p>

		<h2>2. Services</h2>
		<p>
			Le contenu exact des Services prestés est déterminé, de commun accord, avec le Client, dans une proposition de
			services, une offre, un devis ou dans tout document subséquent (le « Devis »).
		</p>

		<h2>3. Formation du contrat</h2>
		<p>
			3.1. La Société adresse au Client son Devis conformément à sa compréhension des besoins du Client. Ce Devis peut
			être transmise sous toute forme choisie par la Société, à sa discrétion et par le canal de son choix. Tout échange
			entre les Parties au sujet des Services et de leur tarification, y compris les e-mails adressés aux adresses
			habituelles de la Société et du Client, sera considéré comme faisant partie du Devis et sera soumis aux présentes
			Conditions Générales.
		</p>
		<p>
			3.2. Le Devis ne lie la Société qu’en suite de l’acceptation par le Client de son contenu intégral dans le délai
			de validité (par défaut, 15 jours à compter de la date d’envoi du Devis), de la communication des informations
			demandées par la Société et, le cas échéant, du paiement de l’acompte convenu. Le Client accepte le Devis en
			confirmant à la Société qu’il y souscrit sans réserve, par quelque canal que ce soit.
		</p>
		<p>
			3.3. Par l’acceptation du Devis, une convention de prestation de services entre en vigueur (la « Convention ») qui
			remplace et annule tout accord préalable entre les Parties. Le Client consent à l'application des Conditions
			Générales et renonce à invoquer toute autre disposition éventuelle de ses propres conditions générales ou de tout
			document qui contreviendrait aux Conditions Générales.
		</p>
		<p>
			3.4. Tous les éléments de prix et les caractéristiques de services affichés publiquement (par exemple en ligne,
			sur le site Internet de la Société, ses réseaux sociaux ou dans des brochures informatives) sont renseignés à
			titre purement indicatif. Seuls les prix et les caractéristiques repris dans le Devis communiqué au Client pour la
			mission concernée, sont susceptibles d'engager la Société. De même, le Client ne peut se prévaloir d’offres
			communiquées à d’autres clients de la Société ou de réductions offertes ou encore de missions précédentes.
		</p>

		<h2>4. Relation entre les Parties</h2>
		<p>
			4.1. La Convention qui se noue entre les parties est un contrat d’entreprise entre parties indépendantes. La
			Société, ses employés, collaborateurs indépendants et sous- traitants, ne seront, en aucun cas, considérés comme
			subordonnés à l’autorité du Client et comme se trouvant dans les liens d’un contrat de travail.
		</p>
		<p>
			4.2. La Société dispose de la plus grande flexibilité pour organiser, comme elle l’entend, ses activités et
			prester les Services convenus, conformément aux objectifs du Client. Elle détermine la composition de l’équipe de
			travail, l’organisation des tâches et assure l’encadrement, la direction et le contrôle des collaborateurs et
			sous-traitants, le cas échéant.
		</p>
		<p>
			4.3. Chaque Partie s’engage à se conformer à toutes les obligations légales qui lui incombent individuellement et
			notamment celles relatives à son immatriculation à la TVA et à son inscription à la Banque-Carrefour des
			entreprises.
		</p>
		<p>
			4.4. La Société peut solliciter la désignation par le Client d’un responsable de projet parmi ses équipes, en vue
			d’assurer la coordination des Services. Le cas échéant, le Client s’engage à désigner un responsable et à en
			communiquer les coordonnées le plus rapidement possible à la Société. A défaut, la Société n’encourra aucune
			responsabilité du fait de la perte d’efficience et/ou d’informations contradictoires transmises.
		</p>

		<h2>5. Exécution de la Convention et étapes de réalisation</h2>

		<p>
			5.1. Le Client fournit à la Société toutes les informations relatives au projet et détaillant notamment la nature
			et l’environnement du projet à réaliser, son contenu et l’objectif précis du Client, sous sa responsabilité. La
			Société se réserve le droit de différer son intervention, dès lors que les informations qui lui sont transmises ne
			sont pas suffisamment précises pour lui permettre d’estimer et réaliser les Services proposés.
		</p>
		<p>
			5.2. Dans le Devis ou dans tout document subséquent, les Parties conviennent des différentes étapes d’exécution
			incluses dans le Devis et de l’ensemble des prestations incluses par phase. Chaque étape du projet peut être
			précédée du paiement d’un acompte, à la discrétion de la Société.
		</p>
		<p>
			5.3. Dans la mesure du possible, la Société s’emploiera à établir les Devis les plus précis possibles, notamment
			en ce qui concerne le temps nécessaire aux différentes phases de réalisation et le coût des prestations. Le Client
			comprend et accepte que certains postes seront estimés à titre indicatif, leur contenu exact ne pouvant être
			spécifié au moment de l’établissement du Devis initial. La Société adressera dès que possible au Client des
			précisions par rapport aux éléments fournis à titre indicatif. De même, si les prestations prévues initialement
			devaient nécessiter plus de temps et/ou de budget, de sorte à faire varier le budget initial prévu pour un poste
			de plus de 10%, la Société se réserve le droit d’adapter sa facture finale.
		</p>
		<p>
			5.4. Les Services proposés peuvent porter sur la recherche de lieux permettant la réalisation des prestations. Le
			cas échéant et sauf précision contraire dans le Devis, la Société présentera au Client au maximum trois lieux
			différents pouvant convenir pour le projet. Dès lors que le Client met un lieu à disposition de la Société pour la
			réalisation des Services sollicités, il s’engage à ce que celui-ci soit équipé à suffisance pour permettre la
			réalisation des Services dans de bonnes conditions. Dans le cas contraire, la Société se réserve le droit de
			facturer en supplément l’équipement du lieu rendu nécessaire (prix des équipements et du matériel supplémentaires
			requis, sur présentation de justificatifs et le Devis).
		</p>
		<p>
			5.5. Les Services proposés peuvent également comporter l’ajout ou la composition d’une musique. Les Parties
			s’accorderont, dans le Devis ou tout écrit subséquent, sur le style de musique et le battement par minute (bpm)
			souhaité. Le Client peut proposer des inspirations dont la Société s’efforcera de se rapprocher au maximum, tout
			en déterminant librement le style de musique le plus approprié. Une fois le projet validé et monté sur la base de
			la musique retenue, le BPM et le style sont figés pour assurer un montage rythmé sur la musique. Si le Client
			souhaite modifier la musique proposée, malgré le respect du style et du bpm mentionné, la Société se réserve le
			droit de facturer le temps de travail et les frais encourus.
		</p>

		<p>
			5.6. Sauf convention contraire, le Client fera part de ses remarques sur tout projet qui lui est adressé dans un
			délai de trois jours ouvrables à dater de sa transmission, par écrit. Plusieurs tours de modifications /
			corrections peuvent être proposés, le cas échéant, selon les modalités reprises dans le Devis ou dans tout
			document échangé entre les Parties.
		</p>

		<p>
			5.7. A défaut de précision, deux tours de modifications sont inclus dans le prix des Services définis dans le
			Devis, un tour étant constitué (1) de l’envoi du projet par la Société et (2) des remarques adressées par le
			Client sur ce projet. La Société se réserve le droit de ne pas implémenter les modifications qui lui seraient
			adressées oralement.
		</p>

		<p>
			5.8. Le Client s’engage à remplir ses obligations issues de la Convention et notamment, à adresser dans le délai
			convenu, ses remarques sur les projets qui lui sont présentés. A défaut d’avoir fait part de ses remarques sur le
			projet dans le délai imparti, les délais proposés pour l’exécution des Services ne seront plus garantis.
		</p>

		<p>
			La Société se réserve le droit de solliciter un complément de rémunération par rapport au Devis initial, au tarif
			en régie mentionné dans le Devis, dès lors que le Client sollicite des compléments par rapport aux prestations
			prévues dans le Devis, en raison de modifications du projet qui sont dues à une erreur ou omission de sa part, à
			la modification de ses besoins en cours de contrat, à la modification du scénario établi, ou encore à l’absence de
			communication des informations requises. De même, toute modification du travail ou travail supplémentaire réalisé
			en raison de la modification par le Client de l’objet-même de la mission confiée sera facturé en supplément.
		</p>

		<h2>6. Employés, indépendants et sous-traitants</h2>

		<p>
			6.1. Sauf convention contraire, la Société peut faire appel aux services d’employés, indépendants ou
			sous-traitants qualifiés pour l’assister dans la fourniture des Services.
		</p>

		<p>
			6.2. Le Client s’engage à ne pas débaucher, embaucher ou faire travailler, tout membre du personnel de la Société,
			en ce compris les indépendants travaillant pour le compte de la Société, pendant toute la durée de la Convention
			et jusqu’à l’expiration d’un délai de douze mois à compter de la cessation des relations contractuelles.
		</p>

		<h2>7. Prix</h2>

		<p>
			7.1. En échange de la fourniture des Services, le Client paie à la Société le prix repris dans le Devis accepté
			par le Client, selon la périodicité convenue entre les Parties.
		</p>

		<p>
			7.2. Le prix est, à défaut d’indication contraire, libellé en euros (EUR) et hors application de la taxe sur la
			valeur ajoutée (TVA).
		</p>

		<h2>8. Paiement et facturation</h2>

		<p>
			8.1. La Société se réserve le droit de solliciter le paiement d’un acompte pour tout ou partie des Services, avant
			ou pendant la durée de la Convention, dont le paiement conditionne son intervention.
		</p>

		<p>
			8.2. A défaut d'indication contraire expresse et mentionnée sur la facture, tout montant dû à la Société est
			payable au comptant.
		</p>
		<p>
			8.3. Tout retard de paiement par le Client donnera lieu, de plein droit et sans mise en demeure préalable, à un
			intérêt de 10 % à dater du 15e jour suivant la date de la facture, ainsi qu’à une indemnité conventionnelle
			forfaitaire de 15 % du montant impayé, avec un minimum de 150 EUR.
		</p>

		<p>
			8.4. La Société se réserve le droit de suspendre son intervention, en cas de défaut de paiement par le Client de
			tout ou partie d’une facture.
		</p>

		<p>
			8.5. Toute contestation relative à une facture de la Société doit être adressée au plus vite et, en tous les cas,
			au plus tard, huit jours ouvrables après l’envoi de la facture. A défaut, la contestation sera considérée comme
			tardive et le montant de la facture sera dû en intégralité.
		</p>

		<h2>9. Durée et fin</h2>

		<p>
			9.1. La Convention est conclue avec le Client pour les Services ou la durée définie par les Parties. Elle prend
			fin lorsque l’ensemble des Services convenus sont prestées ou à la date convenue entre les Parties.
		</p>

		<p>9.2. Les Parties peuvent également mettre fin à la Convention d’un commun accord.</p>

		<p>
			9.3. En cas de résiliation de la Convention pour quelque cause que ce soit, la Société facturera au Client tout
			montant engagé en vue de la réalisation de tout ou partie des Services, ainsi que son temps de travail pour les
			prestations déjà réalisées.
		</p>

		<p>
			9.4. S’il est mis fin à la mission après l’acceptation du Devis, en-dehors de toute résiliation de la Convention
			pour faute de la Société, une indemnité de 30% du montant total du Devis sera réclamée. Cette indemnité permettra
			d’indemniser la Société qui n’aura pu accepter d’autres missions, étant engagée sur le projet avorté du Client.
		</p>

		<h2>10. Responsabilité</h2>

		<p>
			10.1. La Société met tout en œuvre pour offrir les meilleurs services possibles au Client. Cependant, elle n’est
			tenue que par une obligation de moyen et non de résultat. Ce faisant, elle remplit sa mission de façon diligente,
			sur la base des informations qui lui sont transmises par le Client et de sa compréhension des besoins du Client.
		</p>

		<p>10.2. Ainsi, plus particulièrement :</p>
		<ul>
			<li>
				La Société n’est responsable vis-à-vis du Client que de son dol, de sa faute grave ou de celle de ses préposés
				ou encore de toute inexécution des engagements essentiels qui font l’objet de la Convention, sans préjudice de
				l’article 11, ci-après ;
			</li>
			<li>
				Le cas échéant, la Société sera uniquement tenue à la réparation des dommages directement causés par elle à
				l’exclusion de tous dommages indirects subis par le Client, ses représentants ou d’autres personnes concernées,
				survenus dans le cadre de l’exécution de la Convention tels que, par exemple, la perte de revenus, la perte ou
				la compromission de données, la perte de clientèle, la perte de chiffre d’affaire, un dommage réputationnel ou
				le manque à gagner, que la Société ait été avertie de la possibilité de survenance de tels dommages ou non ;
			</li>
			<li>
				Si la responsabilité de la Société devait être engagée, les dommages et intérêts dus par la Société en vertu de
				la Convention n’excéderont en aucun cas le montant total convenu entre les Parties, hors frais et taxes, pour
				le(s) Service(s) ayant donné lieu à la mise en cause de la responsabilité de la Société.
			</li>
		</ul>

		<p>
			10.3. La Société ne pourra en aucun cas être tenue responsable de tout dommage qui surgirait en raison de la
			suspension ou de la non-réalisation de tout ou partie de la mission confiée pour cause de non-paiement d’une
			facture par le Client ou à défaut de transmission des informations et éléments nécessaires par ce dernier.
		</p>

		<p>
			10.4. De même, la Société ne pourra être tenue pour responsable d’erreurs ou omissions intégrées dans les projets
			finalisées, dès lors qu’ils proviennent du Client. Le Client reste, en tout temps, responsable des données qu’il
			communique à la Société, ainsi que de l’examen des projets avant leur communication au public. Il communique à la
			Société sans délai toute erreur constatée.
		</p>

		<p>
			10.5. Le Client accepte que la relation contractuelle soit limitée aux Parties contractantes et qu’aucune
			responsabilité pour négligence ou faute ne puisse être étendue ou assignée directement aux stagiaires, employés,
			associés, prestataires indépendants, mandataires légaux ou sous-traitants de la Société ou des entreprises qui lui
			sont liées.
		</p>

		<p>
			10.6. De manière générale, le Client est responsable de toutes les personnes, équipements, accessoires, meubles et
			éléments généralement quelconques mis à disposition de la Société en vue de la réalisation des Services convenus.
			Il en assure, le cas échéant, le stockage, le déplacement, la mise à disposition et le nettoyage.
		</p>

		<p>
			10.7. Dès lors que les éléments convenus entre les Parties ont été transférés par la Société au Client ou à toute
			personne désignée par lui (export final), le Client est responsable de leur archivage et de leur conservation, à
			l’exclusion de tout recours contre la Société. Si le Client souhaite un archivage par les soins et sous la
			responsabilité de la Société, il l’indique expressément. Le cas échéant, cette prestation supplémentaire fera
			l’objet d’une facturation additionnelle.
		</p>

		<h2>11. Force majeure et changement de circonstances</h2>

		<p>
			11.1. La Société ne pourra, en aucun cas, être considérée comme responsable de l’annulation ou la suspension de
			tout ou partie de la mission confiée, en raison d’une cause indépendante de sa volonté telle que, notamment et
			sans que cette liste ne soit limitative, inondation, tempête, incendie, épidémie, grève, confinement, risque
			terroriste, défaut d’un prestataire, d’un sous-traitant, maladie, incapacité de travail ou tout autre événement de
			force majeure qui l’empêcherait d’exécuter normalement ses obligations ou les suspendraient pendant la durée de la
			cause de force majeure.
		</p>

		<p>
			11.2. A défaut de décision commune de leur part, la Convention ne prendra pas fin entre les Parties. Ses effets
			seront suspendus pendant la durée de l’événement de force majeure. Les Parties fourniront leurs meilleurs efforts
			en vue de poursuivre la mission et l’exécution des Services convenus, dès que possible.
		</p>

		<p>
			11.3. Le Client ne peut se prévaloir d’une inexécution fautive de la Convention par la Société, si l’exécution des
			Services devait être retardée en raison d’événements météorologiques ou pour raisons de sécurité.
		</p>

		<p>
			11.4. Les Parties s’engagent à revoir de bonne foi la Convention, dès lors qu’une cause étrangère à la Société
			rendrait l’exécution de ses obligations, sensiblement plus difficile ou coûteuse.
		</p>

		<h2>12. Propriété intellectuelle, cession de droits d’auteur et autorisations</h2>

		<p>
			12.1. Le Client reconnaît que tous les éléments mis à disposition de la Société par ses soins en vue d’assurer les
			Services respectent les droits de propriété intellectuelle de leurs auteurs et le droit à l’image des personnes
			concernées. Le Client reconnaît qu’il dispose, de manière générale, de toutes les autorisations requises par
			rapport aux lieux, matériel et personnes qu’il met à disposition de la Société pour l’exécution des Services
			convenus. Le Client garantit la Société contre tous recours de tiers.
		</p>

		<p>
			12.2. Sauf indication contraire, la Société cède au Client, qui l’accepte, l’ensemble des droits patrimoniaux sur
			les œuvres créées pour son compte et dès leur finalisation en vue d’exploiter et d’utiliser les œuvres créées pour
			les finalités convenues entre Parties.
		</p>
		<p>
			12.3. Les œuvres mentionnées sont limitativement énumérées dans le Devis. Ce faisant, le Client ne peut
			revendiquer a posteriori, la (con)cession de droits sur d’autres œuvres non convenues entre les Parties (vidéos
			préparatoires, rushes, photos prises sur le plateau, maquettes, projets, fichiers et données sources, etc.). Le
			cas échéant, ces éléments pourront être transférés au Client avec l’accord exprès et écrit de la Société,
			moyennant le paiement d’un complément de prix à convenir.
		</p>

		<p>
			12.4. Les droits patrimoniaux (con)cédés peuvent notamment comprendre à titre limitatif et exclusif, tel
			qu’indiqué dans le Devis :
		</p>
		<ul>
			<li>
				Le droit de fixer l’œuvre par toute technique, sur tout support et notamment sur des supports informatiques ou
				papier ;
			</li>
			<li>Le droit de reproduire l’œuvre en un nombre d’exemplaires indiqué dans le Devis ;</li>
			<li>
				Le droit de distribuer l’œuvre, de la diffuser et de la communiquer au public par toute technique de
				communication et via les médias définis dans le Devis ;
			</li>
			<li>Le droit d’utiliser à des fins publicitaires ou promotionnelles des extraits de l’œuvre ;</li>
			<li>Le droit de traduire l’œuvre en d’autres langues ou d’ajouter des sous-titres.</li>
		</ul>

		<p>
			12.5. Toute utilisation non-prévue dans le Devis ou dans un écrit subséquent est interdite. Par défaut, le Client
			s’interdit de modifier le rendu final d’un projet transmis par la Société, en ce compris la musique, sans l’accord
			exprès et écrit de celle-ci.
		</p>

		<p>
			12.6. A défaut de mention contraire, ces droits sont (con)cédés pour la durée légale de protection des droits
			d’auteur, dans les limites géographiques convenues entre les Parties moyennant la rémunération indiquée dans le
			Devis ou tout document subséquent.
		</p>

		<p>
			12.7. Les œuvres originales réalisées par la Société ou pour son compte et (con)cédées au Client restent la
			propriété de la Société, jusqu’au complet paiement des factures de la Société par le Client, en principal et
			accessoires et jusqu’à la finalisation complète du projet. Ces œuvres ne sauraient, dès lors, être revendiquées
			par le Client, préalablement à la finalisation du projet et au paiement complet des montants dus à la Société,
			pour autant que leur communication soit comprise dans la mission convenue entre les Parties.
		</p>

		<p>
			Les Parties respecteront toutes les obligations fiscales liées à la cession des droits d’auteur et notamment en
			matière de TVA, de précompte mobilier ou de toute autre taxe et imposition directe ou indirecte due en raison ou
			pour cause de cette cession.
		</p>

		<p>
			Sauf contrordre, le Client indiquera de façon claire et non-équivoque, le nom de la Société lors de la
			communication au public de toute œuvre finalisée réalisée par la Société pour son compte, en indiquant la mention
			« COPYRIGHT ORAMA PRODUCTION ». De même la Société dispose, sauf disposition contraire, du droit de mentionner sa
			collaboration avec le Client sur son site internet, ses réseaux sociaux ou toute communication à des fins de
			publicité, en indiquant le nom du Client et/ou tout contenu textuel ou iconographique, y compris des extraits du
			travail en cours. La Société se réserve le droit d’utiliser dans d’autres contextes, y compris pour d’autres
			missions rémunérées, des images créées dans le cadre des Services fournis au Client, pour autant qu’aucune
			personne, lieu privé ou produit ne soit reconnaissable.
		</p>

		<h2>13. Confidentialité et protection des données à caractère personnel</h2>

		<p>
			13.1. Chaque Partie s’engage à ce que toute information sensible reçue de l’autre Partie soit traitée de façon
			confidentielle (information liée à la stratégie, aux employés, clients, fournisseurs ou données financières, par
			exemple). Les informations publiquement disponibles ne sont pas considérées comme sensibles.
		</p>

		<p>
			13.2. Chaque Partie respecte strictement la confidentialité de toutes les informations sensibles en accordant un
			soin raisonnable équivalant au moins au soin qu’elle apporte pour préserver la confidentialité de ses propres
			informations.
		</p>

		<p>
			13.3. Chaque Partie s’engage à respecter strictement la législation en matière de protection des données à
			caractère personnel dans les strictes limites de la législation.
		</p>

		<h2>14. Modifications</h2>

		<p>
			La Société se réserve le droit de modifier à tout moment tout ou partie des dispositions des Conditions Générales
			avec effet immédiat sur les Conventions en cours. La Société en informe le Client par la mise à disposition de la
			nouvelle version du texte des Conditions Générales sur son site internet ou par tout autre moyen de communication
			adéquat. Toute modification essentielle d’un élément du contrat (prix, modalités d’exécution, délais, …) fera
			l’objet d’un accord préalable du Client.
		</p>

		<h2>15. Communications</h2>

		<p>
			Les Parties sont valablement informées ou notifiées par écrit des actions reprises dans la Convention (réception
			du Devis, d'une facture, etc.) par e-mail transmis à l'adresse de la personne de contact renseignée par l’autre
			Partie ou adressé à l’adresse habituelle de communication utilisée par les Parties.
		</p>

		<h2>16. Législation applicable et règlement des litiges</h2>

		<p>16.1. La relation contractuelle des Parties est soumise au droit belge.</p>

		<p>
			16.2. Les Parties tenteront de résoudre à l'amiable tout litige survenant entre elles et relatif notamment à la
			formation, l'interprétation, l'exécution ou la résiliation de la Convention.
		</p>

		<p>16.3. A défaut d’accord, le litige relèvera de la compétence exclusive des Tribunaux du siège de la Société.</p>

		<h2>17. Divers</h2>

		<p>
			17.1. Toute annexe reprise dans le Devis ou dans tout document transmis par la Société est soumise aux présentes
			Conditions Générales.
		</p>

		<p>
			17.2. La nullité éventuelle d’une clause de la Convention ou des présentes Conditions Générales n’affectera pas la
			validité des autres clauses convenues entre Parties. Pour autant que possible, les Parties lui substitueront, le
			cas échéant, une clause valable respectant leur intention originelle.
		</p>

		<p>
			17.3. Le fait pour la Société de ne pas se prévaloir d’une disposition des Conditions Générales ne pourra être
			interprété comme valant renonciation à s’en prévaloir ultérieurement.
		</p>
	</article>
</Layout>

<style>
  article {
    padding-top: 15rem;
    max-width: 50rem;
  }
  h1 {
    font-weight: 400;
    font-size: var(--text-xl);
  }
  h2 {
    font-weight: 400;
    font-size: var(--text-large);
    margin-top: 2rem;
  }
  p {
    line-height: 160%;
    margin-top: 1rem;
  }
  ul {
    padding-left: 1rem;
  }
  ul li {
    padding-top: 1rem;
    padding-left: 0.5rem;
    list-style-type: square;
  }
</style>
