---
import TwoCols from "@layouts/TwoCols.astro";
---

<TwoCols title="À propos" id="about" num="03">
	<p class="paragraph">
		<b>Orama</b> – Du grec ancien <i>hórama</i>. Élément qui signifie «vision».
	</p>
	<p class="paragraph">
		Amis de longue date, rencontrés au hasards des feux de camp, les membres de
		l’équipe Orama conjuguent aujourd'hui leurs talents complémentaires autour
		d'une passion commune : raconter des histoires.
	</p>

	<div class="team">
		<div class="member">
			<div class="heading">Django Schrevens</div>
			<div class="role">Réalisateur, cadreur</div>
		</div>
		<div class="member">
			<div class="heading">Pierre Terranova</div>
			<div class="role">Réalisateur, monteur</div>
		</div>
		<div class="member">
			<div class="heading">Emmanuel Zamora</div>
			<div class="role">Réalisateur, chargé de production</div>
		</div>
		<div class="member">
			<div class="heading">Mathieu Soille</div>
			<div class="role">Chef-opérateur, cadreur</div>
		</div>
		<div class="member">
			<div class="heading">Guerric Verougstraete</div>
			<div class="role">Ingénieur du son, compositeur</div>
		</div>
		<div class="member">
			<div class="heading">Jonathan Pourchet</div>
			<div class="role">Photographe, technicien</div>
		</div>
		<div class="member">
			<div class="heading">Julien Vanbelle</div>
			<div class="role">Informaticien, Cadreur</div>
		</div>
	</div>
</TwoCols>

<style>
	.team {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		row-gap: 2rem;
	}
	.member {
		padding-right: 2rem;
	}
	.member .role {
		font-size: var(--text-base);
	}
</style>
