---
import TwoCols from "@layouts/TwoCols.astro";
import Button from "@components/common/Button.astro";
---

<TwoCols title="Contact" id="contact" num="04">
	<p class="paragraph">
		Une idée à mettre en images ? Une histoire à raconter ?
	</p>
	<p class="paragraph">
		Contactez-nous dès aujourd'hui : nous serons ravis de vous accompagner dans votre projet !
	</p>

	<div class="links">
		<Button
			href="https://www.instagram.com/orama_prod/"
			textTop="Instagram"
			textBottom="@orama_prod"
			icon="arrow-up-right"
			target="_blank"
		/>
		<Button
			href="https://www.facebook.com/profile.php?id=100090062064406"
			textTop="Facebook"
			textBottom="Orama-Production"
			icon="arrow-up-right"
			target="_blank"
		/>
		<Button
			href="https://www.linkedin.com/company/orama-production/"
			textTop="Linkedin"
			textBottom="Orama-Production"
			icon="arrow-up-right"
			target="_blank"
		/>
		<Button
			href="mailto:info@oramaprod.be"
			textTop="Email"
			textBottom="info@oramaprod.be"
			icon="arrow-right"
			target="_blank"
		/>
	</div>
</TwoCols>

<style>
	.links {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 0.25rem;
	}
	@media screen and (max-width: 480px) {
		.links {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
</style>
