<section>
  <h1>
    Nous sommes <span class="orama" cursor-focus>Orama</span>, un studio de production audiovisuel bruxellois.
    Nous créons des contenus commerciaux, documentaires et de fiction percutants, axés sur un storytelling de qualité.
  </h1>
</section>

<style>
  section {
    padding-top: 25rem;
    padding-bottom: 5rem;
  }
  h1 {
    font-size: var(--text-xl);
    font-weight: 400;
    line-height: 125%;
    max-width: 50rem;
  }
  .orama {
    text-decoration: underline;
  }

  @media screen and (max-width: 1024px) {
    section {
      padding-top: 15rem;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: var(--text-large);
    }
  }
</style>