---
import TwoCols from "../../layouts/TwoCols.astro";
---

<TwoCols title="Nos services" id="services" num="02">
	<p class="paragraph">Nous proposons une gamme complète de services de production vidéo.</p>
	<p class="paragraph">
		De la préproduction, qui comprend le brainstorming, le développement et l'aide à la rédaction, à la postproduction,
		qui comprend le montage, l'étalonnage et le titrage.
	</p>

	<div class="service">
		<div class="title">
			<h3 class="heading">Vidéo</h3>
		</div>
		<div class="list">
			<ul>
				<li>Clip musical</li>
				<li>Captation théâtre</li>
				<li>Documentaire et Fiction</li>
				<li>Aftermovie</li>
				<li>Contenu Réseaux</li>
			</ul>
		</div>
	</div>

	<div class="service">
		<div class="title">
			<h3 class="heading">Photo</h3>
		</div>
		<div class="list">
			<ul>
				<li>Documentaire et reportage photo</li>
				<li>Photographie de plateau</li>
				<li>Portrait</li>
				<li>Affiche de films et d'événements</li>
			</ul>
		</div>
	</div>

	<div class="service">
		<div class="title">
			<h3 class="heading">Son</h3>
		</div>
		<div class="list">
			<ul>
				<li>Documentaire audio</li>
				<li>Podcast (filmé ou non)</li>
				<li>Composition de musique sur mesure</li>
				<li>Post–Production cinéma</li>
				<li>Doublage</li>
			</ul>
		</div>
	</div>
</TwoCols>

<style>
	ul {
		list-style-type: square;
	}
	ul li {
		text-transform: uppercase;
		font-size: var(--text-small);
	}

	.service {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
	.service .title {
		grid-column: span 2 / span 2;
	}
	.service .list {
		grid-column: span 4 / span 4;
	}

	@media screen and (max-width: 960px) {
		.service {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		.service .title {
			grid-column: span 1 / span 1;
		}
		.service .list {
			grid-column: span 3 / span 3;
		}
	}

	@media screen and (max-width: 768px) {
		.service {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
		.service .title {
			grid-column: span 2 / span 2;
		}
		.service .list {
			grid-column: span 4 / span 4;
		}
	}
</style>
