---
import TwoCols from "@layouts/TwoCols.astro";
---

<TwoCols title="Nos services" id="services" num="02">
	<p class="paragraph">
		Production audiovisuelle, création sonore ou image fixe quel que soit votre projet, nous vous proposons un accompagnement personnalisé à chaque étapes de celui-ci.
	</p>

	<div class="service">
		<div class="title">
			<h3 class="heading">Prod. audiovisuelle</h3>
		</div>
		<div class="list">
			<ul>
				<li>Court & long-métrage</li>
				<li>Série documentaire & fiction</li>
				<li>Contenu publicitaire & réseaux</li>
				<li>Clip musical</li>
				<li>Captations & Aftermovie</li>
			</ul>
		</div>
	</div>

	<div class="service">
		<div class="title">
			<h3 class="heading">Prod. sonore</h3>
		</div>
		<div class="list">
			<ul>
				<li>Montage et mixage son</li>
				<li>Composition/Enregistrement de musique originale</li>
				<li>Documentaire audio/Podcast</li>
			</ul>
		</div>
	</div>

	<div class="service">
		<div class="title">
			<h3 class="heading">Photographie</h3>
		</div>
		<div class="list">
			<ul>
				<li>Documentaire photographique</li>
				<li>Photographie de plateau</li>
				<li>Affiche</li>
			</ul>
		</div>
	</div>
</TwoCols>

<style>
	ul {
		list-style-type: none;
	}
	ul li {
		font-size: var(--text-base);
		margin-bottom: 0.5rem;
	}

	.service {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
	.service .title {
		grid-column: span 2 / span 2;
		padding-right: 1rem;
	}
	.service .list {
		grid-column: span 4 / span 4;
	}

	@media screen and (max-width: 960px) {
		.service {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		.service .title {
			grid-column: span 1 / span 1;
		}
		.service .list {
			grid-column: span 3 / span 3;
		}
	}

	@media screen and (max-width: 768px) {
		.service {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
		.service .title {
			grid-column: span 2 / span 2;
		}
		.service .list {
			grid-column: span 4 / span 4;
		}
	}

	@media screen and (max-width: 480px) {
		.service {
			gap: 0.5rem;
		}
		.service .title {
			grid-column: span 6 / span 6;
		}
		.service .list {
			grid-column: span 6 / span 6;
		}
	}
</style>
