---
interface Props {
	padding?: 'large' | 'small' | 'none';
}

const { padding='large' } = Astro.props;
---

<div class="card">
  <div class={`p-${padding}`}>
    <slot />
  </div>
  <div class="corners">
    <div class="corner top-left"></div>
    <div class="corner top-right"></div>
    <div class="corner bottom-left"></div>
    <div class="corner bottom-right"></div>
  </div>
</div>

<style is:global>
  .card {
    position: relative;
    width: 100%;
  }
  .card .p-large {
    padding: 2rem;
  }
  .card .p-small {
    padding: 1rem;
  }
  .card .p-none {
    padding: 0;
  }
  .card .corners {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    pointer-events: none;
  }
  .card .corner {
    position: absolute;
    width: .75rem;
    height: .75rem;
    transition: all ease-out .15s;
  }
  .card .top-left {
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    top: 0;
    left: 0;
  }
  .card .top-right {
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
    top: 0;
    right: 0;
  }
  .card .bottom-left {
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    bottom: 0;
    left: 0;
  }
  .card .bottom-right {
    border-bottom: 1px solid var(--black);
    border-right: 1px solid var(--black);
    bottom: 0;
    right: 0;
  }

  .card:hover .top-left {
    top: .25rem;
    left: .25rem;
  }
  .card:hover .top-right {
    top: .25rem;
    right: .25rem;
  }
  .card:hover .bottom-left {
    bottom: .25rem;
    left: .25rem;
  }
  .card:hover .bottom-right {
    bottom: .25rem;
    right: .25rem;
  }
  .card-active .card .top-left, .card:active .top-left {
    top: 0;
    left: 0;
  }
  .card-active .card .top-right, .card:active .top-right {
    top: 0;
    right: 0;
  }
  .card-active .card .bottom-left, .card:active .bottom-left {
    bottom: 0;
    left: 0;
  }
  .card-active .card .bottom-right, .card:active .bottom-right {
    bottom: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    .card .p-large {
      padding: 1.5rem;
    }
  }

  @media screen and (max-width: 480px) {
    .card .p-large {
      padding: 1rem;
    }
  }
</style>