<div class="cursor-overlay" transition:persist>
	<div id="cursor" class="cursor">
		<svg
			id="square"
			class="icon"
			style="display: block"
			preserveAspectRatio="none"
			width="10"
			height="10"
			viewBox="0 0 10 10"
			fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0H10V10H0V0Z" fill="currentColor"></path>
		</svg>
		<svg
			id="arrow-r"
			class="icon"
			style="display: none"
			preserveAspectRatio="none"
			width="10"
			height="10"
			viewBox="0 0 10 10"
			fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M10 0H0V10H10V0ZM4.96967 2.37506L5.5 1.84473L8.3018 4.6465C8.49705 4.84176 8.49705 5.15835 8.3018 5.35361L5.5 8.1554L4.96967 7.62505L7.21965 5.37506H1.5V4.62506H7.21965L4.96967 2.37506Z"
				fill="currentColor"></path>
		</svg>
	</div>
</div>

<script>
	import debounce from "lodash.debounce";

	const CURSOR = document.getElementById("cursor") as HTMLElement;
	const ICONS = CURSOR.getElementsByClassName("icon") as HTMLCollectionOf<HTMLElement>;

	let cursor = {
		size: { w: 8, h: 8 },
		position: { x: 0, y: 0 },
		opacity: 0,
	};
	let mouseRef = { x: 0, y: 0 };

	const updateCursorPosition = (x: number, y: number) => {
		const hoveredElement = document.elementFromPoint(x, y);

		if (hoveredElement && (hoveredElement.getAttribute("data-cursor") === "focus" || hoveredElement.classList.contains("plyr__control"))) {
			const targetElement = hoveredElement.querySelector('[data-cursor="target"]');
			const target = targetElement ? targetElement : hoveredElement;
			const info = target.getBoundingClientRect();
			setIcon("square");
			cursor = {
				size: { w: info.width, h: info.height },
				position: { x: info.x + info.width / 2 - 5, y: info.y + info.height / 2 - 5 },
				opacity: 1,
			};
		} else if (hoveredElement && hoveredElement.getAttribute("data-cursor") === "icon") {
			setIcon(hoveredElement.getAttribute("data-icon") ?? "square");
			cursor = {
				size: { w: 30, h: 30 },
				position: { x: x - 7, y: y - 7 },
				opacity: 1,
			};
		} else {
			setIcon("square");
			cursor = {
				size: { w: 8, h: 8 },
				position: { x: x - 7, y: y - 7 },
				opacity: 1,
			};
		}

		CURSOR.style.transform = `translate(${cursor.position.x}px, ${cursor.position.y}px) scale(${cursor.size.w / 10}, ${cursor.size.h / 10})`;
		CURSOR.style.opacity = `${cursor.opacity}`;
	};

	const setIcon = (i: string) => {
		for (let icon of ICONS) {
			if (icon.id === i) {
				icon.style.display = "block";
			} else {
				icon.style.display = "none";
			}
		}
	};

	const handleMouseMove = debounce((event: any) => {
		const mouseX = event.clientX;
		const mouseY = event.clientY;
		mouseRef = { x: mouseX, y: mouseY };
		updateCursorPosition(mouseX, mouseY);
	}, 12);

	const handleScroll = debounce(() => {
		const { x, y } = mouseRef;
		updateCursorPosition(x, y);
	}, 12);

	const handleMouseDown = () => {
		CURSOR.classList.add("active");
		setTimeout(() => {
			const { x, y } = mouseRef;
			updateCursorPosition(x, y);
		}, 350);
	};

	const handleMouseUp = () => {
		CURSOR.classList.remove("active");
		const { x, y } = mouseRef;
		setTimeout(() => {
			const { x, y } = mouseRef;
			updateCursorPosition(x, y);
		}, 350);
	};

	// if not on a touch device
	if (!("ontouchstart" in window || navigator.maxTouchPoints > 0)) {
		document.addEventListener("mousemove", handleMouseMove);
		window.addEventListener("scroll", handleScroll);
		document.addEventListener("mousedown", handleMouseDown);
		document.addEventListener("mouseup", handleMouseUp);
	}
</script>

<style>
	.cursor-overlay {
		overflow-x: hidden;
		position: fixed;
		z-index: 999;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		mix-blend-mode: difference;
	}
	.cursor {
		position: absolute;
		transition:
			transform cubic-bezier(0, 0, 0.2, 1) 150ms,
			opacity ease-in-out 150ms 150ms;
		pointer-events: none;
		background-color: rgba(0, 0, 0, 0);
		color: rgb(0, 0, 0);
		filter: invert(1);
		opacity: 0;
		will-change: transform; /* trigger hardware acceleration */
	}
	.cursor .icon {
		width: 100%;
		height: 100%;
		transform: scale(1);
		will-change: transform;
		transition: transform ease-in-out 150ms;
	}
	.cursor.active .icon {
		transform: scale(1.1);
	}
</style>

<style is:global>
	.touch-device .cursor {
		display: none;
	}
</style>
