<div class="separator">
  <div></div>
  <div class="corner"></div>
</div>

<style>
  .separator {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid var(--foreground-60);
    margin-bottom: .5rem;
  }
  h2 {
    font-weight: 400;
    font-size: var(--text-small);
    text-transform: uppercase;
  }
  .corner {
    position: absolute;
    top: 1.5rem;
    width: .75rem;
    height: .75rem;
    border-top: 1px solid var(--foreground-60);
    border-right: 1px solid var(--foreground-60);
    bottom: 0;
    right: 0;
  }
</style>