---
interface Props {
	id: number;
}

const { id } = Astro.props;
---

<div class="title">
  <div class="text">
    <div class="dot"></div>
    <h2>
      <slot/>
    </h2>
  </div>
  <div class="corner"></div>
</div>

<style>
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--dark-gray);
    margin-top: 7rem;
  }
  .text {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  .dot {
    width: .35rem;
    height: .35rem;
    border-radius: .35rem;
    background-color: var(--red);
  }
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--text-base);
    font-family: var(--monospace);
  }
  .corner {
    width: .75rem;
    height: .75rem;
    border-bottom: 1px solid var(--black-20);
    border-right: 1px solid var(--black-20);
    bottom: 0;
    right: 0;
  }
</style>