---
import Container from "./Container.astro";
---

<div class="background">
	<Container>
		<div class="lines">
			<div class="line line-1"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
			<div class="line line-4"></div>
			<div class="line line-5"></div>
			<div class="line line-6"></div>
			<div class="line line-7"></div>
			<div class="line line-8"></div>
			<div class="line line-9"></div>
			<div class="line line-10"></div>
			<div class="line line-11"></div>
			<div class="line line-12"></div>
			<div class="line line-13"></div>
		</div>
	</Container>
</div>

<style>
	.background {
		position: fixed;
		z-index: -1;
		width: 100vw;
	}
	.lines {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: space-between;
	}
	.line {
		width: 1px;
		height: 100%;
		background: var(--background-lines);
		transition: all ease-in-out 0.75s;
	}

	@media screen and (max-width: 960px) {
		.line-8,
		.line-9,
		.line-10,
		.line-11,
		.line-12,
		.line-13 {
			display: none;
		}
	}
</style>
