<div class="container">
  <slot />
</div>

<style>
  .container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0rem 3rem;
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 0rem 1.5rem;
    }
  }

  @media screen and (max-width: 480px) {
    .container {
      padding: 0rem 1rem;
    }
  }
</style>