<footer>
	Copyright © Orama, 2025 /
	<a href="/conditions" data-cursor="focus">CGV</a>
</footer>

<style>
	footer {
		position: relative;
		margin-top: 8rem;
		width: 100%;
		padding-top: 0.25rem;
		padding-bottom: 3rem;
		font-size: var(--text-base);
		text-transform: uppercase;
		color: var(--foreground-40);
	}
</style>
