---
import Arrow from "../components/common/Arrow.astro"
import Separator from "../components/common/Separator.astro"
import Gallery from "../components/home/Gallery.astro"
---

<footer>
  <Gallery />
  <Separator />
  <div class="content">
    <div class="col infos">
      <h2>Infos</h2>
      Bruxelles, Belgique <br/>
      Copyright © Orama, 2024 <br/><br/>
      <a href="mailto:info@oramaprod.be" cursor-focus><span class="icon"><Arrow /></span> info@oramaprod.be</a>
    </div>
    <div class="col">
      <h2>Site</h2>
      <a href="#projects" cursor-focus><span class="icon"><Arrow /></span> Projets</a> <br/>
      <a href="#services" cursor-focus><span class="icon"><Arrow /></span> Services</a> <br/>
      <a href="#about" cursor-focus><span class="icon"><Arrow /></span> À propos</a> <br/>
      <a href="#contact" cursor-focus><span class="icon"><Arrow /></span> Contact</a>
    </div>
    <div class="col">
      <h2>Nous suivre</h2>
      <a href="https://www.instagram.com/orama_prod/" target="_blank" cursor-focus><span class="icon"><Arrow angle="d-45" /></span> Instagram</a> <br/>
      <a href="https://www.facebook.com/profile.php?id=100090062064406" target="_blank" cursor-focus><span class="icon"><Arrow angle="d-45" /></span> Facebook</a> <br/>
      <a href="https://www.linkedin.com/company/orama-production/" target="_blank" cursor-focus><span class="icon"><Arrow angle="d-45" /></span> Linkedin</a>
    </div>
  </div>
  <div class="footer-logo">
    <div>O</div>
    <div>R</div>
    <div>A</div>
    <div>M</div>
    <div>A</div>
  </div>
</footer>

<style>
  footer {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    padding-top: .25rem;
  }
  .content {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .col {
    grid-column: span 1 / span 1;
    text-transform: uppercase;
  }
  .col h2 {
    font-size: var(--text-base);
    font-weight: 600;
    margin-bottom: .5rem;
  }
  .col a {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    line-height: 100%;
  }
  .col .icon {
    display: inline-block;
    width: .75rem;
    height: auto;
  }

  .col.infos {
    grid-column: span 2 / span 2;
  }

  .footer-logo {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--black-20);
  }

  @media screen and (max-width: 768px) {
    .col.infos {
      grid-column: span 4 / span 4;
      order: 3;
    }
    .col {
      grid-column: span 2 / span 2;
    }
  }

  @media screen and (max-width: 480) {
    section {
      margin-top: 4rem;
    }
  }
</style>