---
import Logo from "../components/common/Logo.astro"
---

<header>
  <div class="container">
    <nav>
      <div class="logo">
        <a href="/">
          <Logo />
        </a>
      </div>
      <ul>
        <li><a href="/" cursor-focus>Projets</a></li>
        <li><a href="/" cursor-focus>Services</a></li>
        <li><a href="/" cursor-focus>À propos</a></li>
        <li><a href="/" cursor-focus>Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    width: 100%;
    z-index: 99;
    margin: auto;
    mix-blend-mode: difference;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0rem 3rem;
  }
  @media screen and (max-width: 1440px) {
    .container {
      border-right: none;
      border-left: none;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0rem 1.5rem;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }
  nav .logo {
    width: 1.75rem;
    height: 1.75rem;
    filter: invert(1);
  }
  nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
  }
  nav ul a {
    font-size: var(--text-base);
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    filter: invert(1);
  }
</style>