---
import Logo from "../components/common/Logo.astro";
import Arrow from "../components/common/Arrow.astro";
---

<header>
	<div class="container" id="mobile-nav-container">
		<nav>
			<div class="logo">
				<a href="/" aria-label="Home">
					<Logo />
				</a>
			</div>
			<button id="mobile-nav-btn" data-cursor="focus" aria-hidden="true">Menu</button>
			<ul>
				<li><a href="/#projects" data-cursor="focus">Réalisations</a></li>
				<li><a href="/#services" data-cursor="focus">Services</a></li>
				<li><a href="/#about" data-cursor="focus">À propos</a></li>
				<li><a href="/#contact" data-cursor="focus">Contact</a></li>
			</ul>
		</nav>

		<div class="mobile-nav" aria-hidden="true">
			<a href="/#projects" data-cursor="focus" class="cols-3">
				<div class="id">01</div>
				<div class="name">Réalisations <span class="icon"><Arrow /></span></div>
			</a>
			<a href="/#services" data-cursor="focus" class="cols-3">
				<div class="id">02</div>
				<div class="name">Services <span class="icon"><Arrow /></span></div>
			</a>
			<a href="/#about" data-cursor="focus" class="cols-3">
				<div class="id">03</div>
				<div class="name">À Propos <span class="icon"><Arrow /></span></div>
			</a>
			<a href="/#contact" data-cursor="focus" class="cols-3">
				<div class="id">04</div>
				<div class="name">Contact <span class="icon"><Arrow /></span></div>
			</a>
		</div>
	</div>
</header>
<div class="overlay" id="mobile-nav-overlay"></div>

<style>
	header {
		position: fixed;
		width: 100%;
		z-index: 99;
		margin: auto;
		mix-blend-mode: difference;
	}
	.container {
		position: relative;
		width: 100%;
		max-width: 1560px;
		margin: auto;
		padding: 0rem 3rem;
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 0;
	}
	nav .logo {
		width: 1.75rem;
		height: 1.75rem;
		filter: invert(1);
	}
	nav ul {
		display: flex;
		gap: 3rem;
		list-style-type: none;
	}
	nav ul a {
		font-size: var(--text-base);
		line-height: 100%;
		text-transform: uppercase;
		font-weight: 600;
		filter: invert(1);
	}

	button {
		display: none;
		font-size: var(--text-base);
		line-height: 100%;
		text-transform: uppercase;
		font-weight: 600;
	}

	.mobile-nav {
		display: none;
	}
	.mobile-nav .cols-3 {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 1rem;
	}
	.mobile-nav .cols-3 .id {
		grid-column: span 1 / span 1;
		text-transform: uppercase;
		color: var(--black-40);
		font-size: var(--text-medium);
		pointer-events: none;
	}
	.mobile-nav .cols-3 .name {
		grid-column: span 3 / span 3;
		font-weight: 600;
		text-transform: uppercase;
		font-size: var(--text-medium);
		pointer-events: none;
	}

	@media screen and (max-width: 768px) {
		header {
			mix-blend-mode: normal;
			padding: 0.5rem;
		}

		nav {
			padding: 1rem 0;
		}
		nav .logo {
			width: 1.5rem;
			height: 1.5rem;
			filter: none;
		}
		nav ul {
			display: none;
		}
		button {
			display: block;
		}

		.mobile-nav {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			border-top: 1px solid var(--black-7);
		}

		.mobile-nav .name {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.mobile-nav .name .icon {
			width: 1rem;
			height: auto;
		}

		.container {
			padding: 0rem 1rem;
			background-color: var(--dark-gray-90);
			backdrop-filter: blur(8px);
			-webkit-backdrop-filter: blur(8px);
			mix-blend-mode: normal;
			border-radius: 0.25rem;
			max-height: 3.5rem;
			transition: max-height 0.25s ease-out;
			overflow: hidden;
		}
		.container.open {
			max-height: 30rem;
			transition: max-height 0.25s ease-in;
		}

		.overlay {
			pointer-events: none;
			position: fixed;
			z-index: 90;
			height: 100%;
			width: 100%;
			background-color: var(--black-0);
			backdrop-filter: blur(0px);
			-webkit-backdrop-filter: blur(0px);
			transition: backdrop-filter 0.15s ease-out;
		}
		.overlay.open {
			pointer-events: all;
			backdrop-filter: blur(8px);
			-webkit-backdrop-filter: blur(8px);
			transition: backdrop-filter 0.15s ease-in;
		}
	}
</style>

<script>
	const btn = document.getElementById("mobile-nav-btn")!;
	const cont = document.getElementById("mobile-nav-container")!;
	const overlay = document.getElementById("mobile-nav-overlay")!;

	let open = false;

	const toggleNav = () => {
		if (open) {
			open = false;
			cont.classList.toggle("open");
			overlay.classList.toggle("open");
			btn.textContent = "Menu";
		} else {
			open = true;
			cont.classList.toggle("open");
			overlay.classList.toggle("open");
			btn.textContent = "Fermer";
		}
	};

	btn.addEventListener("click", toggleNav);
	overlay.addEventListener("click", toggleNav);

	addEventListener("scroll", () => {
		open && toggleNav();
	});
</script>
