---
import Logo from "../components/common/Logo.astro";
---

<header>
	<nav>
		<div class="logo">
			<a href="/" aria-label="Home">
				<Logo />
			</a>
		</div>
		<div class="menu-container">
			<button id="menu-btn" data-cursor="focus" aria-hidden="true">Menu</button>
			<ul id="menu">
				<li><a href="/#projects" data-cursor="focus">Projets</a></li>
				<li><a href="/#services" data-cursor="focus">Services</a></li>
				<li><a href="/#about" data-cursor="focus">À propos</a></li>
				<li><a href="/#contact" data-cursor="focus">Contact</a></li>
			</ul>
		</div>
	</nav>
</header>

<script>
	document.addEventListener("astro:page-load", () => {
		const btn = document.getElementById("menu-btn")!;
		const menu = document.getElementById("menu")!;

		let open = false;

		const toggleNav = () => {
			if (open) {
				open = false;
				menu.classList.toggle("open");
				btn.textContent = "Menu";
			} else {
				open = true;
				menu.classList.toggle("open");
				btn.textContent = "Fermer";
			}
		};

		btn.addEventListener("click", toggleNav);
		menu.addEventListener("click", toggleNav);
	});
</script>

<style>
	header {
		position: sticky;
		top: 0px;
		width: 100%;
		z-index: 99;
		mix-blend-mode: difference;
		animation: fade-in 0.5s ease-in-out;
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1560px;
		margin: auto;
		padding: 1.5rem 3rem;
	}
	nav .logo {
		width: 1.75rem;
		height: 1.75rem;
		color: rgb(0, 0, 0);
		filter: invert(1);
	}
	nav ul {
		display: flex;
		gap: 3rem;
		list-style-type: none;
	}
	nav ul a {
		font-size: var(--text-base);
		line-height: 100%;
		text-transform: uppercase;
		font-weight: 600;
		color: rgb(0, 0, 0);
		filter: invert(1);
	}
	nav button {
		display: none;
		font-size: var(--text-base);
		line-height: 100%;
		text-transform: uppercase;
		font-weight: 600;
		color: rgb(0, 0, 0);
		filter: invert(1);
	}

	@media screen and (max-width: 768px) {
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: 1560px;
			margin: auto;
			padding: 1rem 1.25rem;
		}
		nav .logo {
			width: 1.5rem;
			height: 1.5rem;
		}
		nav .menu-container {
			position: relative;
		}
		nav button {
			display: block;
		}
		nav ul {
			display: none;
			position: absolute;
			top: 2rem;
			right: 0;
			flex-direction: column;
			align-items: end;
			gap: 0.5rem;
		}
		nav ul li {
			padding: 0.25rem 0;
		}
		nav ul.open {
			display: flex;
			flex-direction: column;
			align-items: end;
		}
	}
</style>
