---
import Container from './Container.astro';
import Header from './Header.astro';
import Background from './Background.astro';
import Cursor from '../components/common/Cursor.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Cursor />
		<Header />
		<Container>
			<Background />
			<main>
				<slot />
			</main>
		</Container>
	</body>
</html>

<style is:global>
	/* GLOBAL */
	@font-face {
		font-family: 'Space Grotesk';
		src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Space Grotesk';
		src: url('/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Nanum Gothic';
		src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nanum Gothic';
		src: url('/fonts/Inconsolata-Bold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--white: rgb(255, 255, 255);
		--white-50: rgba(255, 255, 255, .5);
		--light-gray: rgb(248, 246, 243);
		--light-gray-20: rgba(248, 246, 243, .7);
		--light-gray-0: rgba(248, 246, 243, 0);
		--black: rgb(7, 9, 12);
		--black-80: rgba(7, 9, 12, .8);
		--black-60: rgba(7, 9, 12, .6);
		--black-40: rgba(7, 9, 12, .4);
		--black-30: rgba(7, 9, 12, .3);
		--black-20: rgba(7, 9, 12, .2);
		--black-10: rgba(7, 9, 12, .1);
		--black-7: rgba(7, 9, 12, .075);
		--black-3: rgba(7, 9, 12, .03);
		--black-0: rgba(7, 9, 12, 0);
		--red: rgb(227, 41, 0);
		--text-xs: 0.75rem;
		--text-small: 0.875rem;
		--text-base: 1rem;
		--text-medium: 1.125rem;
		--text-large: 1.5rem;
		--text-xl: 2rem;
		--card-w: 300px;
	}

	@media screen and (max-width: 768px) {
		:root {
			--card-w: 250px;
		}
  }

	@media screen and (max-width: 480px) {
		:root {
			--card-w: 200px;
		}
  }

	html {
		font-family: 'Nanum Gothic', 'Helvetica', 'Arial', sans-serif;
		background: var(--light-gray);
		color: var(--black);
		font-size: var(--text-base);
	}
	::selection {
		background-color: var(--black);
		color: var(--white);
	}

	/* RESET */
	*, *::before, *::after {
    box-sizing: border-box;
	}
	* {
			margin: 0;
	}
	html, body {
			height: 100%;
	}
	body {
			line-height: 1.5;
			-webkit-font-smoothing: antialiased;
	}
	img, picture, video, canvas, svg {
			display: block;
			max-width: 100%;
	}
	input, button, textarea, select {
			font: inherit;
	}
	p, h1, h2, h3, h4, h5, h6 {
			overflow-wrap: break-word;
	}
	button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}
	a {
		text-decoration: none;
		color: var(--color-text);
	}
	ul {
		margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
	}
</style>