---
interface Props {
	background?: 'white' | 'none';
}

const { background="none" } = Astro.props;
---

<div class={`wrapper bg-${background}`}>
  <slot />
</div>

<style>
  .wrapper {
    padding: 0 2rem;
  }
  .bg-white {
    background-color: var(--white);
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      padding: 0 1.25rem;
    }
  }

  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 0 1.25rem;
    }
  }
</style>